<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schoolguidance">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.schoolguidance.volun.ChatKit"
        android:usesCleartextTraffic="true">
        <activity android:name=".stu.MessagesActivity"></activity>
        <activity android:name=".stu.AskHelpActivity" />
        <activity android:name=".stu.FeedbackActivity" />
        <activity android:name=".stu.MapActivity" />
        <activity android:name=".stu.PunchCardsActivity" />
        <activity
            android:name=".stu.StuMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".admin.StstSchedule" android:label="进度统计"/>
        <activity android:name=".admin.ManageVolun"/>
        <activity android:name=".admin.ManageStu"/>
        <activity android:name=".admin.AdminMainActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".admin.IssueInform" android:label="发布通知"/>
        <activity android:name=".admin.IssueStep" android:label="发布流程"/>
        <activity android:name=".admin.ManageFeedback" android:label="管理反馈"/>

        <activity android:name=".volun.VolunteerFeedback"/>
        <activity android:name=".volun.CurrentTask"  android:label="当前任务"/>
        <activity android:name=".volun.HistoryTask" android:label="历史任务"/>
        <activity android:name=".volun.VolunteerAccount"/>
        <activity android:name=".volun.VolunMainActivity" android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>